[submodule "includes/guides"]
	path = includes/guides
	url = git@github.com:lufixSch/guides.git
[submodule "includes/meeting_protocol_template"]
	path = includes/meeting_protocol_template
	url = git@github.com:lufixSch/meeting-protocol-template.git
[submodule "includes/latex_protocol"]
	path = includes/latex_protocol
	url = git@github.com:lufixSch/protokoll_vorlage.git
